<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="Bootstrap.LoadingScreen.Demo">
<head ng-controller="HeadController">

		<meta charset="utf-8"/>
		<title>Bootstrap Loading Screen</title>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="alternate stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" ng-if="!styles.length">
		<link rel="stylesheet" ng-href="{{style.href}}" name="{{style.name}}">

</head><body>

		<aside class="loading-screen" style="display:none; position:fixed; top:0; right:0; bottom:0; left:0; z-index:9999">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4" style="top:50%; margin-top:-7em">
				<div class="page-header">
					<i class="text-primary fa fa-spin fa-fw pull-left"
					 ng-class="'fa-'+icon.glyph+' fa-'+sizes[icon.size].icon" ng-style="{'text-shadow':'0 0 '+(icon.blur*0.2)+'ex'}"></i>
					<hgroup ng-cloak ng-switch="icon.size" ng-style="{'text-shadow':'0 0 '+(icon.blur*0.1)+'ex'}">
						<h1 ng-switch-when="4">
							Bootstrap<br/>
							<small>Loading Screen</small>
						</h1>
						<h2 ng-switch-when="3">
							Bootstrap<br/>
							<small>Loading Screen</small>
						</h2>
						<h3 ng-switch-when="2">
							Bootstrap<br/>
							<small>Loading Screen</small>
						</h3>
						<h4 ng-switch-default>
							Bootstrap<br ng-if="icon.size > 0"/>
							<small>Loading Screen</small>
						</h4>
					</hgroup>
				</div>
				<p class="loading-status text-info" style="text-align:center">
					Sleek loading screen exploiting Bootstrap standard components
				</p>
			</div>
		</aside>

		<div class="container-fluid" style="display:none">

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="z-index:10000"
				ng-controller="ConfiguratorController">
				<a href="." class="navbar-brand -btn -btn-default -btn-navbar"><i class="fa fa-refresh fa-lg fa-fw"></i></a>
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						 role="button" aria-expand="false">Theme <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="s in styles"
							 ng-class="{ active:style.index==$index }">
								<a href="#style:{{s.name | lowercase}}" ng-click="style.index = $index">{{s.name}}</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						 role="button" aria-expand="false">Icon <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="i in icons"
							 ng-class="{ active:icon.index==$index }">
								<a href="#icon:{{i.name | lowercase}}" ng-click="icon.index = $index">
									<i class="fa fa-{{i.glyph}} fa-fw"></i> {{i.name}}
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						 role="button" aria-expand="false">Size <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="s in sizes" ng-class="{ active:icon.size==$index}">
								<a href="#size:{{$index}}" ng-click="icon.size = $index">
									{{$index+1}}
								</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						 role="button" aria-expand="false">Blur <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu">
							<li ng-repeat="b in [0,1,2,3,4,5,6,7,8,9]" ng-class="{ active:icon.blur==$index}">
								<a href="#blur:{{$index}}" ng-click="icon.blur = $index">
									{{$index}}
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<a href="https://github.com/shb/bootstrap-loading-screen">
				<img style="position: absolute; top: 0; right: 0; border: 0; z-index:10001" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
			</a>

		</div>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
		<script src="//code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap-loading-screen.demo.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js" async defer></script>
		
</body></html>
